{% include 'header.html' %}

<h2>Listado de producto</h2>

<a href="{{ url_for('create') }}" class="btn btn-success">Nuevo</a>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">descripcion</th>
        <th scope="col">cantidad</th>
        <th scope="col">precio</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for item in producto %}
      <tr>
        <th scope="row">{{ item['id'] }}</th>
        <td>{{ item['descripcion'] }}</td>
        <td>{{ item['cantidad'] }}</td>
        <td>Bs {{ item['precio'] }}</td>
        <td><a href="/producto/edit/{{ item['id']}}" class="btn btn-warning" >Editar</a></td>
        <td><a href="/producto/delete/{{ item['id'] }}" onclick="return(confirm('Esta seguro ???'))" class="btn btn-danger">Eliminar</a></td>
      </tr>
        {% endfor %}

    </tbody>
  </table>

{% include 'footer.html' %}